services:
  database:
    image: postgres:17-alpine
    container_name: inkless-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - inkless_db_data:/var/lib/postgresql/data

volumes:
  inkless_db_data:
