@import "tailwindcss";

:root {
    --background: oklch(0.9941 0.0017 247.84);
    --background-subtle: oklch(0.2625 0.003 17.35);
    --foreground: oklch(0.1508 0.012 185.77);
    --foreground-muted: oklch(0.5555 0 0);
    --border: oklch(0.9276 0.0058 264.53);
    --error: oklch(0.7271 0.151 21.49);
}

@theme {
    --color-background: var(--background);
    --color-background-subtle: var(--background-subtle);
    --color-foreground: var(--foreground);
    --color-foreground-muted: var(--foreground-muted);
    --color-border: var(--border);
    --color-error: var(--error);
}

body {
    width: 100%;
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    background-color: var(--background);
    color: var(--foreground);
}